<header>
	<div class="wrapper">
		<h1>Star Wars Spaceship!</h1>
		<nav>
			<ul>
				<li>
					<a href="/starwars-api-v2/index.html">Good ol' Vanilla JS</a>
				</li>
				<li>
					<a href="/starwars-api-v2/jquery.html">jQuery + SASS</a>
				</li>
				<li>
					<a class="selected" href="#">Angular JS</a>
				</li>
			</ul>
			<select>
				<option value="/starwars-api-v2/index.html">Good ol' Vanilla JS</option>
				<option value="/starwars-api-v2/jquery.html">jQuery + SASS</option>
				<option value="#" selected="selected">Angular JS</option>
			</select>
		</nav>
	</div>
</header>
