<ul id="spaceshipList">
    <li id="messagePanelHolder">
        <div id="messagePanel" class="message-panel"></div>
    </li>
	<li *ngFor="let ship of shipsInfo; let i = index">
		<div class="ship" id="ship{{ i }}">
			<h3 class="name"><span class="icon-spaceship"></span>{{ ship.name }}</h3>
			<div class="info">
		        <ul>
		            <li class="list-crew">
		                <a class="edit-link" id="editLink{{ i }}" href="#">[&nbsp;<span class="icon-edit"></span>EDIT&nbsp;]</a>
		                <div class="edit-panel">
		                    <span class="label">No. of Crew</span>
		                    <input type="number" class="input" placeholder="{{ ship.crew }}" />
		                    <div class="button-area">
		                        <input type="button" class="button" value="Submit" id="submitButton{{ i }}" href="#" />
		                        <input type="button" class="button" value="Cancel" id="cancelButton{{ i }}" href="#" />
		                    </div>
		                </div>
		                <div class="preview-panel">
		                    <span class="label">No. of Crew</span>
		                    <span class="value">{{ ship.crew }}</span>
		                    <div class="infographic">
		                    	<span class="icon-crew" *ngFor="let item of createRange(ship.crew)"></span>
								<span *ngIf="toInt(ship.crew) > 10">
									<span class="icon-plus"></span><span class="icon-plus"></span>
								</span>
		                    </div> 
		                </div> 
		            </li> 
		            <li class="list-model"> 
		                <span class="label"><span class="icon-model"></span> Model</span> 
		                <span class="value">{{ ship.model }}</span> 
		            </li> 
		            <li class="list-manufacturer"> 
		                <span class="label"><span class="icon-manufacturer"></span> Manufacturer</span> 
		                <span class="value">{{ ship.manufacturer }}</span> 
		            </li> 
		            <li class="list-date"> 
		                <span class="label"><span class="icon-date"></span> Edited</span> 
		                <span class="value">{{ ship.edited }}</span> 
		            </li> 
		        </ul> 
		    </div> 
		</div> 
	</li>
<ul>
